<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/raya.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Raya the last dragon</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/in.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Inception</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/tenet.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tenet</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/inter.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Interstellar</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/creed.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Creed</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Justice league</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>