<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/got.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Game of Thrones</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/twd.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The walking dead</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/avatar.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The last airbender</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/middle.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Malcolm in the middle</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/arrow.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Arrow</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/gotham.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gotham</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>